@model project.Models.Account

<form method="post" asp-controller="Account" asp-action="Edit">
    <h2>Edit book</h2>

    <div class="form-group">
        <label class="h4 text-success">UserName</label>
        <input class="form-control" asp-for="@Model.UserName" />
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success" asp-for="@Model.Email">Email</label>
        <input class="form-control" asp-for="@Model.Email" />
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success" asp-for="@Model.PasswordHash">Price</label>
        <input class="form-control" asp-for="@Model.PasswordHash" />
        <span class="text-danger" asp-validation-for="@Model.PasswordHash"></span>
    </div>

   

    <div class="form-group">
        <input type="submit" class="btn btn-warning" value="Edit" />
    </div>
</form>