@model List<Book>

@if (TempData["Message"] != null)
{
    <h5 class="alert alert-info">@TempData["Message"]</h5>
}

@if (Model.Count == 0)
{
    <h2 class="alert alert-danger">No book in DB. Add book first !</h2>
    <a class="btn btn-success" asp-controller="Book" asp-action="Add">
        Add
    </a>
}
else
{
    <table class="table-bordered text-center mt-3 mb-3 bg-light">
        <tr>
            <th class="h3 text-primary" colspan="4">Book List</th>
            <th>
                <a class="btn btn-success" asp-controller="Book" asp-action="Add">
                    Add
                </a>
            </th>
        </tr>
        <tr>

            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Description</th>
            <th>Menu</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>


                <td>@book.Name</td>

                <td>

                    <img src="@book.Image" width="100" dsds height="100" />

                </td>
                <td>
                    @book.Price
                </td>


                <td>
                    @book.Description
                </td>

                <td>
                    <a class="btn btn-warning" asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">
                        Detail
                    </a>
                    <a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id"
               onclick="return confirm('Are you sure to delete this student?');">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
}

